.fc-999999 {
    color: #999999;
}

.fc-666666 {
    color: #666666;
}

.fc-0053b8 {
    color: #0053b8;
}

.fc-17b100 {
    color: #17B100;
}

.follow {
    border: 1px solid black;
    border-radius: 2rem;
    background-color: white;
    padding: 1rem;
}

.color0028BA {
    color: #0028BA;
}

.bid-size {
    padding: 0 3.5rem 0 3.5rem;
    white-space: nowrap !important;
    font-size: 2rem;
    border-radius: 1rem !important;

}

.form-select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%230028BA ' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14l-4.796-5.481C2.065 5.325 2.52 4.5 3.173 4.5h9.654c.653 0 1.108.825.722 1.159l-4.796 5.48c-.566.647-1.512.647-2.078 0z'/%3E%3C/svg%3E") !important;
    --bs-form-select-bg-position: right 0.75rem center !important;
    --bs-form-select-bg-size: 1.5em !important;
    --bs-form-select-indicator: none !important;
    padding-right: 2.5rem !important;
}

.span strong {
    font-weight: light;
    color: #17b100;
}
