html, body {
  font-family: 'Arial', 'Helvetica', sans-serif;
}
main, header, footer{
  overflow: hidden;
}

.fc-c7c7c7{
  color: #C7C7C7;
}
.trending .bidbutton, .navigating .bidbutton{
    background-color: #31D3FF !important;
    border-radius: 2rem;
    color: white;
    margin-top: 1px;
    font-size: 19px;
}

.navigating .seeall{
    border: 1px solid black;
    border-radius: 2rem;
    color: black;
    background-color: white;
}

.getinspired .readmore{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2rem;
  background-color: white;

}

.emailsection{
  margin-top: 5rem !important;
}

.emailform .fw-lighter{
  font-size: 13px;
}

.no-border {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  margin-top: 2px !important;
}

.inputemail{
  border: 2px solid rgba(27, 27, 27, 0.04);
  padding: 2px !important;
}
.email-config {
  width: 21rem !important;
  height: 2.4rem !important;

}

.downloadapp p{
  margin-bottom: -3px !important;
}
.bg-f5f5f5{
  background-color: #f5f5f5 !important;
}
  @media screen and (min-width: 576px) {
    .trending .carousel-inner, .collections .carousel-inner{
      display: flex;
      width: 90%;
      margin-inline: auto;
      padding: 1em 0;
      overflow: hidden;
    }
    .trending .carousel-item, .collections .carousel-item{
      display: block;
      margin-right: 0;
      flex: 0 0 calc(100% / 2);
    }
  }
  .card-body p {
    font-size: 1px;
  }
  @media screen and (min-width: 1024px) {
    .trending .carousel-item{
      display: block;
      margin-right: 0;
      flex: 0 0 calc(100% / 4);
    }
    .collections .carousel-item {
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100% / 5);
      }
      .emailform, .downloadapp {
        padding-left: 8.5rem !important;
      }

  }
  .trending .card{
    margin: 0 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.155);
    border-radius: 0;

  }
  
  .trending .carousel-control-prev,
  .trending .carousel-control-next, .collections .carousel-control-next, .collections .carousel-control-prev {
    width: 3rem;
    height: 3rem;
    background-color: grey;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }