.copyright strong {
    color: #c9d6ea;
    font-weight: 500;
}

.bisize {
    font-size: 29px !important;
    color: #343a40 !important;
    margin-right: 10px !important;
}

.bg-000022 {
    background-color: #000022;
    color: #ffffff;
    overflow: hidden !important;
}