.footer-1 {
    background-color: #F5F5F5;
}

.footer-2 {
    background-color: #000022;
    color: #FFF;
}

.footer-links-list {
    list-style-type: none;
    padding: 0;
}

.footer-links-list li {
    margin-bottom: 5px;
}

.footer-links-list li a {
    text-decoration: none;
    color: inherit;
}

.footer-links-list li a:hover {
    text-decoration: underline;
}

.footer-icon-list a {
    color: inherit;
}