.footer-1 {
    background-color: #F5F5F5;
}

.footer-2 {
    background-color: #000022;
    color: #FFF;
}

.footer-links-list {
    list-style-type: none;
    /* Bỏ dấu chấm ở đầu danh sách */
    padding: 0;
    /* Bỏ padding cho ul */
}

.footer-links-list li {
    margin-bottom: 5px;
    /* Khoảng cách giữa các đường link */
}

.footer-links-list li a {
    text-decoration: none;
    /* Không gạch chân link mặc định */
    color: inherit;
    /* Giữ màu chữ giống như văn bản thường */
}

.footer-links-list li a:hover {
    text-decoration: underline;
}

.footer-icon-list a {
    color: inherit;
}