
.bg-000022 {
    background-color: #000022 !important;
}

  
.fc-ffffff {
    color: #FFFFFF !important;
}

.bg-31D3FF {
    background-color: #31D3FF !important;
}

.logo {
    margin-top: -20px !important;
    margin-bottom: -20px !important;
}

.search-config {
    border: none !important;
    background-color: transparent !important;
    position: relative !important;
    left: 14% !important;
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

.form-config {
    margin-top: 8px !important;
}

.sell-config {
    margin-top: 8px !important;
    border-radius: 2rem !important;
    padding: 10px 20px auto  20px !important;
    height: 2rem !important;
    white-space: nowrap !important;
}



.search-config:hover {
    background-color: #FFFFFF !important;
}

.input-config {
    border-radius: 2rem !important;
    width: 18rem !important;
    height: 2rem !important;
}

.countposition {
    position: relative !important;
}

@media (min-width: 376px)and (max-width: 990px) {
    .search-config {
        margin-left: -4.2rem !important;
    }

    .sell-config {
        width: 150px;
        margin-left: 1.3rem !important;
        margin-right: 1rem !important;
    }

}

@media(min-width: 991px) {
    .margin-1rem {
        margin-left: 2.3rem !important;
    }
}