
.bg-000022 {
    background-color: #000022 !important;
}

  
.fc-ffffff {
    color: #FFFFFF !important;
}

.bg-31D3FF {
    background-color: #31D3FF !important;
}

.logo {
    margin-top: -20px !important;
    margin-bottom: -20px !important;
}

.search-config {
    border: none !important;
}

.form-config {
    margin-top: 8px !important;
}

.no-border-input {
    border: none !important;
    box-shadow: none !important;
    background-color: #f8f9fa !important;
    padding: 10px;
    }

.bg-f8f9fa {
    background-color: #f8f9fa !important;
}

.no-border-input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.input-config {
    border-radius: 2rem !important;
    width: 18rem !important;
    height: 2rem !important;
}

.countposition {
    position: relative !important;
}
