.admin-footer {
    background-color: #343a40;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    position: relative;
}
.admin-footer .footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}

.admin-footer .footer-links a:hover {
    text-decoration: underline;
}
.admin-footer .footer-copyright {
    text-align: center;
    flex-grow: 1;
}