html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    flex-direction: row;
}

#page-content-wrapper {
    flex-grow: 1;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container-fluid {
    flex-grow: 1;
}
